In [99]:
import pandas as pd
from datetime import datetime
import xlsxwriter
import os

In [100]:
dir_path = "C:\\Users\\athomas2\\Desktop\\Selenium scripts\\FMIS Automation and Data Cleaning\\Excel Editor\\"
end_path = "C:\\Users\\athomas2\\Desktop\\Selenium scripts\\FMIS Automation and Data Cleaning\\Excel Editor\\Edited Files\\"

In [101]:
list_excel = []
for file in os.listdir(dir_path):
    if file.endswith(".xlsx"):
        list_excel.append(file)
list_excel

['PL_BUYER_BACKLOG_535074537OLD.xlsx']

In [102]:
name = list_excel[0]
sheet = pd.read_excel(dir_path + name, header=None)
sheet.head()

C:\Users\athomas2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,Buyer Backlog Query,1710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BL - Business Unit,BL - Req ID,BL - Req Hold Status,BL - Req Date,BL - FMIS Origin,BL - Requester,BL - Req Apprvl Date,BL - Last Chng Date,BL - Hold Req Process,BL - Out-to-Bid,...,BL - Req Distrib Amt,ROH - Req Line No,ROH - Hold Type,ROH - Due Date,ROH - Req Comments,BL - Buyer,BL - Inv SrcFlg,BL - Inventory Item ID,BL - Req Line Curr Status,BL - Req Distrib Line Status
2,MBTAI,0000400140,N,2012-02-03 00:00:00,ONL,INVCYCB,2012-02-03 00:00:00,2012-02-03 10:10:42,Hold NOT Requested,Not Requested,...,148.5,0,NaN,NaN,NaN,PHONG,Y,02594170,A,P
3,MBTAI,0000400353,N,2012-02-03 00:00:00,ONL,INVCYCB,2012-02-03 00:00:00,2012-02-03 10:10:42,Hold NOT Requested,Not Requested,...,3560,0,NaN,NaN,NaN,FSCABIN,Y,03083508,A,P
4,MBTAF,H74CN09000,N,2017-03-01 00:00:00,CCN,DSHEA,2017-04-04 00:00:00,2023-10-17 16:40:05,Hold NOT Requested,Not Requested,...,16973094,1,NaN,NaN,NaN,BDONOVAN,N,NaN,A,O

**Remove first row and reassign column names**

In [103]:
#remove the first row
sheet = sheet.iloc[1:]

#set columns
sheet.columns = sheet.iloc[0]

#remove repeat row
sheet = sheet.iloc[1:]
sheet.head()

1,BL - Business Unit,BL - Req ID,BL - Req Hold Status,BL - Req Date,BL - FMIS Origin,BL - Requester,BL - Req Apprvl Date,BL - Last Chng Date,BL - Hold Req Process,BL - Out-to-Bid,...,BL - Req Distrib Amt,ROH - Req Line No,ROH - Hold Type,ROH - Due Date,ROH - Req Comments,BL - Buyer,BL - Inv SrcFlg,BL - Inventory Item ID,BL - Req Line Curr Status,BL - Req Distrib Line Status
2,MBTAI,0000400140,N,2012-02-03 00:00:00,ONL,INVCYCB,2012-02-03 00:00:00,2012-02-03 10:10:42,Hold NOT Requested,Not Requested,...,148.5,0,NaN,NaN,NaN,PHONG,Y,02594170,A,P
3,MBTAI,0000400353,N,2012-02-03 00:00:00,ONL,INVCYCB,2012-02-03 00:00:00,2012-02-03 10:10:42,Hold NOT Requested,Not Requested,...,3560,0,NaN,NaN,NaN,FSCABIN,Y,03083508,A,P
4,MBTAF,H74CN09000,N,2017-03-01 00:00:00,CCN,DSHEA,2017-04-04 00:00:00,2023-10-17 16:40:05,Hold NOT Requested,Not Requested,...,16973094,1,NaN,NaN,NaN,BDONOVAN,N,NaN,A,O
5,MBTAF,U90PS11-12,N,2018-05-17 00:00:00,CPS,YDUVERGE,2018-05-21 00:00:00,2021-07-02 08:03:38,Hold NOT Requested,Not Requested,...,71686.95,1,NaN,NaN,NaN,SMCDONNELL,N,NaN,A,O
6,MBTAC,EA19110,N,2019-04-17 00:00:00,TSK,LBAXTER,2019-04-17 00:00:00,2024-03-08 18:54:30,Hold NOT Requested,Not Requested,...,40666.81,1,NaN,NaN,NaN,CGUIOD,N,TSK-02,A,O

**Add Query Date Column**

In [104]:
#get index where column should be added
column_count = sheet.columns.size

# get current datetime and
# format into mm/dd/yyyy hh:mm:ss AM/PM
now = datetime.now()
formatted_date = now.strftime("%m/%d/%Y %H:%M:%S %p")

#add new column with all entries being the datetime
sheet.insert(column_count, 'Query-Date', formatted_date)
sheet

1,BL - Business Unit,BL - Req ID,BL - Req Hold Status,BL - Req Date,BL - FMIS Origin,BL - Requester,BL - Req Apprvl Date,BL - Last Chng Date,BL - Hold Req Process,BL - Out-to-Bid,...,ROH - Req Line No,ROH - Hold Type,ROH - Due Date,ROH - Req Comments,BL - Buyer,BL - Inv SrcFlg,BL - Inventory Item ID,BL - Req Line Curr Status,BL - Req Distrib Line Status,Query-Date
2,MBTAI,0000400140,N,2012-02-03 00:00:00,ONL,INVCYCB,2012-02-03 00:00:00,2012-02-03 10:10:42,Hold NOT Requested,Not Requested,...,0,NaN,NaN,NaN,PHONG,Y,02594170,A,P,03/11/2024 16:19:41 PM
3,MBTAI,0000400353,N,2012-02-03 00:00:00,ONL,INVCYCB,2012-02-03 00:00:00,2012-02-03 10:10:42,Hold NOT Requested,Not Requested,...,0,NaN,NaN,NaN,FSCABIN,Y,03083508,A,P,03/11/2024 16:19:41 PM
4,MBTAF,H74CN09000,N,2017-03-01 00:00:00,CCN,DSHEA,2017-04-04 00:00:00,2023-10-17 16:40:05,Hold NOT Requested,Not Requested,...,1,NaN,NaN,NaN,BDONOVAN,N,NaN,A,O,03/11/2024 16:19:41 PM
5,MBTAF,U90PS11-12,N,2018-05-17 00:00:00,CPS,YDUVERGE,2018-05-21 00:00:00,2021-07-02 08:03:38,Hold NOT Requested,Not Requested,...,1,NaN,NaN,NaN,SMCDONNELL,N,NaN,A,O,03/11/2024 16:19:41 PM
6,MBTAC,EA19110,N,2019-04-17 00:00:00,TSK,LBAXTER,2019-04-17 00:00:00,2024-03-08 18:54:30,Hold NOT Requested,Not Requested,...,1,NaN,NaN,NaN,CGUIOD,N,TSK-02,A,O,03/11/2024 16:19:41 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707,MBTAN,AFC24121,N,2024-03-11 00:00:00,ONL,HMOTA,2024-03-11 00:00:00,2024-03-11 10:19:46,Hold NOT Requested,Not Requested,...,1,NaN,NaN,NaN,NaN,N,NaN,A,O,03/11/2024 16:19:41 PM
1708,MBTAN,AFC24121,N,2024-03-11 00:00:00,ONL,HMOTA,2024-03-11 00:00:00,2024-03-11 10:19:46,Hold NOT Requested,Not Requested,...,1,NaN,NaN,NaN,NaN,N,NaN,A,O,03/11/2024 16:19:41 PM
1709,MBTAN,AFC24121,N,2024-03-11 00:00:00,ONL,HMOTA,2024-03-11 00:00:00,2024-03-11 10:19:46,Hold NOT Requested,Not Requested,...,1,NaN,NaN,NaN,NaN,N,NaN,A,O,03/11/2024 16:19:41 PM
1710,MBTAN,AFC24122,N,2024-03-11 00:00:00,ONL,HMOTA,2024-03-11 00:00:00,2024-03-11 10:20:07,Hold NOT Requested,Not Requested,...,1,NaN,NaN,NaN,NaN,N,NaN,A,O,03/11/2024 16:19:41 PM
1711,MBTAN,CEX0594,N,2024-03-11 00:00:00,ONL,KDOHERTY2,2024-03-11 00:00:00,2024-03-11 10:30:49,Hold NOT Requested,Not Requested,...,1,NaN,NaN,NaN,NaN,N,NaN,A,O,03/11/2024 16:19:41 PM

**Change Data Types**

In [105]:
#

**Rename and export file**

In [106]:
#get index of last '_' in the file_name - this indicates where the number starts
index = name.rindex('_')
file_name = name[:index] + '.xlsx'

In [107]:
writer = pd.ExcelWriter(dir_path +"Edited Files\\" + file_name, engine='xlsxwriter')

In [108]:
#export
sheet.to_excel(writer, sheet_name="sheet1", index=False)

In [109]:
#get the xlsx writer workbook and worksheet objects
workbook = writer.book
worksheet = writer.sheets["sheet1"]

In [110]:
#adjust the column widths based on the content
for i, col in enumerate(sheet.columns):
    width = max(sheet[col].apply(lambda x: len(str(x))).max(), len(col))
    worksheet.set_column(i, i, width)
writer.close()